.footer .content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: #1a2f2a;
    color: #fff;
    padding: 40px 0 20px;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.footer-head
{
  margin-right: 3rem !important;
}

.footer-heading {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.footer-heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #55ea43;
}


.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #55ea43;
}

.contact-info {
    color: #ccc;
    line-height: 1.8;
}

.contact-info i {
    color: #55ea43;
    margin-right: 10px;
    width: 20px;
}

.footer .image
{
    width: 250px;
    margin-bottom: 25px;
    /* background-color: red; */
}
.footer .image img
{
    width: 100%;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    margin-top: 20px;
    color: #999;
    font-size: 0.9rem;
}



@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .footer-section {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    .footer-heading:after 
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%; /* Start from center */
        transform: translateX(-50%); /* Adjust to truly center */
        width: 80px;
        height: 2px;
        background-color: #55ea43;
    }
    .footer-head
    {
        margin-right: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .footer-head p
    {
        width: 80%;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        
    }
}