.services-section
{
    background-image: linear-gradient(143deg, #213c36 0%, #0d1f1a 80%) !important;
}
.services-section.arabic
{
    direction: rtl;
}

.services-section .head p
{
    font-size: 18px;
    color: #39ff14;
    font-weight: bold;
    letter-spacing: 5px;
}

.services-section .head h1
{
   
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 100px;
}


.services-section .row .service
{
    background-color: #0d1f1a;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
    height: 280px;
    box-shadow: -0px 10px 10px rgba(0, 0, 0, 0.3);
    opacity: 0 ;
    /* text-align: right; */
}
.services-section .row .service.animate
{
    animation: slideInLeft 1.2s ease-out forwards;
}
.services-section .row .service.animate2
{
    animation: slideInRight 1.2s ease-out forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.services-section .row .service h3
{
    font-weight: bold;
    font-size: 30px;
}
.services-section .row .service p
{
    color: #cccccc;
    width: 80%;
}

.service .row .image img
{
    margin-right: 150px;
    width:230px !important;
}

.buttons .b3
{
    background-color: #34eb12;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 0 15px rgb(52, 235, 18,0.4);
    transition: all 0.3s ease;
    z-index: 1000 !important;
}
.buttons .b3:hover
{
    background-color: #34eb12;
    box-shadow: 0 0 25px rgb(40, 193, 14,0.6);
    transform: translateY(-3px);
}

.services-section .row .service.arabic
{
    /* height: ; */
}

.service .row .image img.arabic
{
    margin-left: 300px;
    width:230px !important;
}
.services-section .head p.arabic
{
    font-size: 25px;

    /* visibility: hidden; */
}

.services-section .head h1.arabic
{
   
    font-size: 60px;
    /* margin-bottom: 50px; */
}
.services-section .row .service h3.arabic
{
    font-weight: bold;
    font-size: 35px;
}
.services-section .row .service p.arabic
{
    color: #cccccc;
    width: 80%;
    font-size: 20px;
}
@media all and (max-width: 445px)
{
    .services-section .row .service p
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .services-section .row .service
    {
        width: 80%;
        margin-bottom: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        height: 500px;
    }

    .services-section .row .service h3
    {
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
    }

    .services-section .head h1
    {
    
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 150px;
    }
    .service .row .image img
    {
        margin-right: 0;
        width:150px !important;
    }
    .service .row .image img.arabic
    {
        margin-left: 0px;
        width:150px !important;
    }
}

@media all and (min-width: 445px) and (max-width: 576px)
{
    .services-section .row .service p
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .services-section .row .service
    {
        width: 80%;
        margin-bottom: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        height: 380px;
    }

    .services-section .row .service h3
    {
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    .services-section .head h1
    {
    
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 150px;
    }
    .service .row .image img
    {
        margin-right: 0;
        width:150px !important;
    }
    .service .row .image img.arabic
    {
        margin-left: 0px;
        width:150px !important;
    }
    .services-section .row .service.arabic
    {
        height: 420px ; 
    }
}

@media all and (min-width: 576px) and (max-width: 768px )
{
    .services-section .row .service p
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .services-section .row .service
    {
        width: 80%;
        margin-bottom: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        height: 380px;
    }

    .services-section .row .service h3
    {
        margin-top: 20px;
        font-weight: bold;
        font-size: 22px;
    }

    .services-section .head h1
    {
    
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 150px;
    }
    .service .row .image img
    {
        margin-right: 0;
        width:150px !important;
    }
    .services-section .row .service .service-content.arabic
    {
        padding-right: 0px;
    }
    .service .row .image img.arabic
    {
        margin-left: 0px;
        width:150px !important;
    }
  
}

@media all and (min-width: 768px) and (max-width: 992px  )
{
    .services-section .row .service p
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .services-section .row .service
    {
        width: 80%;
        margin-bottom: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        height: 380px;
    }

    .services-section .row .service h3
    {
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    .services-section .head h1
    {
    
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 150px;
    }
    .service .row .image img
    {
        margin-right: 0;
        width:190px !important;
    }
    .services-section .row .service .service-content.arabic
    {
        padding-right: 0px;
    }
    .service .row .image img.arabic
    {
        margin-left: 0px;
        width:190px !important;
    }
  
}

@media all and (min-width: 992px) and (max-width: 1200px  )
{
    
    .services-section .row .service h3
    {
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }
   .service .row .image img
    {
        margin-right: 85px;
        width:190px !important;
    }
    /* .services-section .row .service .service-content.arabic
    {
        padding-right: 50px;
    } */
    .service .row .image img.arabic
    {
        margin-left: 200px;
        width:190px !important;
    }
    


}